
ul{
	list-style-type:none;
}
@font-face {
	font-family: 'SW'; 
	src: url('proek/2/stc.otf'); 
}
.os{
	min-width:1080px;
	max-width:100%;
}
.main{
	background:#181D30;
	width:100%;
	height:500px;
	
	
	
}
.shot{
	background:url('proek/2/3.png');
	background-size:100%;
	
	position:absolute;
	top:0;
	width:854px;
	height:605px;
	padding:0;
}
.orden{
	display:flex;
	flex-direction:column;
	letter-spacing: 15px;
	width:1310px;
	font-family:SW;
	color:white;
	margin-left:600px;
	padding-top:100px;
	font-size:94px;
	align-items:center;
	
}
.orden1{
	letter-spacing: 5px;
	width:auto;
	font-family:SW;
	color:white;
	margin-top:25px;	
	font-size:34px;	
}
.head{
	width:auto;
	display:flex;
	justify-content:space-between;
}
.logo{
	
	background:url('proek/2/4.png')0 0/100%;
	height:100px;
	width:100px;
}
.logo::before{
	padding-top:25px;
	position:absolute;
	content:"STAR WARS";
	font-family:SW;
	padding-left:100px;	
}
.men{
	list-style:none;
	display:flex;
	font-family:SW;
}
.men1{
	margin-right:15px;
}
.menu3{
	display:flex;
	margin-bottom:10px;
	
}
.menu3 li:nth-child(1){
	background:url('proek/2/inst.png');
	background-size:100%;
	width:25px;
	height:25px;
	margin-right:15px;
	
}
.menu3 li:nth-child(2){
	background:url('proek/2/yout.png');
	background-size:100%;
	width:25px;
	height:25px;
	margin-right:15px;
}
.menu3 li:nth-child(3){
	background:url('proek/2/tele.png');
	background-size:100%;
	width:25px;
	height:25px;
	margin-right:15px;
}
.menu3 li:nth-child(4){
	background:url('proek/2/phon.png');
	background-size:100%;
	width:25px;
	height:25px;
	margin-right:15px;
}
.m1{
	display:flex;
	flex-direction:column;

	justify-content:top;
	align-items:center;
	
	
}
.m2{
	color:#5F9EA0;
	padding:1px;
	margin-top:5px;

}
.m3{
	
	background:#5F9EA0;
	width:100%;
	height:1px;
	
	
}
